
body {
  background-color: #f8f8f8;
  color: #333333;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #121212; 
  color: #ffffff;
}


body.dark-mode .list-group-item {
  background-color: #1e1e1e;
  color: #ffffff;
  border-color: #333;
}
