body.dark-mode {
  background-color: #121212 !important;
  color: #ffffff !important;
}

body.dark-mode .list-group-item {
  background-color: #1e1e1e;
  color: #ffffff;
  border-color: #333;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}